@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Address:</strong> Redmond, WA 98052-6399<br />
    <abbr title="Phone"><strong>Phone:</strong></abbr>
    425.555.0100
</address>

<address>
    <strong>Contact us by Email:</strong>   <a href="mailto:Support@example.com">ExperanceIT@ee.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>