@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Experience IT </h1>
    <p class="lead">
        Start learning from the world’s best institutions.
    </p>
    <p><a href="https://www.coursera.org/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Experience IT Courses</h2>
        <p>
            Learn online and earn valuable credentials from top universities like Yale, Michigan, Stanford, and leading companies like Google and IBM.
        </p>
        <p><a class="btn btn-default" href="http://localhost:63868/Courses1">View All Courses &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Start Today</h2>
        <p>
            Increase access to high-quality education for everyone, everywhere.
            Enhance teaching and learning on campus and online.
            Advance teaching and learning through research.
        </p>
        <p><a class="btn btn-default" href="http://localhost:63868/Students1">View Student Page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Careers</h2>
        <p>Join the movement that's unlocking the potential of learners everywhere</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>